@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<EditForm FormName="AddPersonForm" Model="NewPerson" OnValidSubmit="AddPerson">
    <Blazilla.FluentValidator />

    <ValidationSummary />

    <ol>
        <li>
            <label for="input-name">Naam:</label>
            <InputText @bind-Value="NewPerson.Name" />
            <ValidationMessage For="@(() => NewPerson.Name)" />
        </li>
        <li>
            <label for="input-age">Leeftijd:</label>
            <InputNumber @bind-Value="NewPerson.Age" />
            <ValidationMessage For="@(() => NewPerson.Age)" />
        </li>
        <li>
            <label for="input-photo-url">Foto URL:</label>
            <InputText @bind-Value="NewPerson.PhotoUrl" />
            <ValidationMessage For="@(() => NewPerson.PhotoUrl)" />
        </li>
        <li>
            <button>Voeg toe</button>
        </li>
    </ol>
</EditForm>


@if (People is null)
{
    <p>Geen personen.</p>
}
else
{
    <ul>
        @foreach (var person in People)
        {
            <li class="@(person.Age > 60 ? "oud" : "")">@person.Name is @person.Age jaar jong</li>
        }
    </ul>
}

<style>
    .oud {
        background: lightgoldenrodyellow;
    }

    form ol {
        list-style: none;
        padding: 0;
    }
</style>